<div class="l-ab-page">
	<div class="page-list">
		<div class="l-toggle-title2">
			<i class="line3"></i>
			<span>兑换记录（总：0币）</span>
			<i class="line4"></i>
		</div>
		<div class="page-list-box">
			<div class="list-item" style="height: 0.66rem;">
				<span style="color: #FEEDE5; text-align: center; height: 0.66rem;">时间</span>
				<span style="color: #FEEDE5;text-align: center;">金额</span>
				<span style="color: #FEEDE5;text-align: center;">类型</span>
				<span style="color: #FEEDE5;text-align: center;">状态</span>
			</div>
			<!--<div class="list-item">
				<span>03-15 00:15:02</span>
				<span>100861189</span>
				<span>30.12元</span>
				<span>成功</span>
			</div>
			<div class="list-item">
				<span>03-15 00:15:02</span>
				<span>100861189</span>
				<span>30.12元</span>
				<span>成功</span>
			</div>
			<div class="list-item">
				<span>03-15 00:15:02</span>
				<span>100861189</span>
				<span>30.12元</span>
				<span>成功</span>
			</div>
			<div class="list-item">
				<span>03-15 00:15:02</span>
				<span>100861189</span>
				<span>30.12元</span>
				<span>成功</span>
			</div>-->
		</div>
	</div>
</div>
<div class="l-nav-bottom-box">
<div class="l-nav-bottom">
	<div class="icon-item"><span class="icon-item-01">游戏</span></div>
	<div class="icon-item"><span class="icon-item-02">记录</span></div>
	<div class="icon-item active"><span class="icon-item-03">查询</span></div>
	<div class="icon-item"><span class="icon-item-04">代理赚钱</span></div>
	<div class="icon-item"><span class="icon-item-05">客服</span></div>
</div>
</div>
<div class="l-layer-mask1"></div>