<div class="l-ab-page">
	<div class="l-main-content">
		<div class="page-cash" style="padding-left:5%;padding-right:5%;">
			<div class="l-toggle-title2">
				<i class="line2"></i>
				<span>竞猜记录</span>
				<i class="line"></i>
			</div>
			<div class="jc-head">
				<div style="width: 33%;">期号</div>
				<div style="width: 29%;">下注金额</div>
				<div style="width: 29%;">中奖金额</div>
				<div>状态</div>
				<div></div>
			</div>
			<div class="jc-content">
				<!--<div class="jc-item">
					<div>20170504256252期</div>
					<div>5金币</div>
					<div>9金币</div>
					<div>待开奖</div>
					<div class="jc-btn">详情</div>
				</div>
				<div class="jc-item">
					<div>10660241258期</div>
					<div>5金币</div>
					<div>9金币</div>
					<div>未中奖</div>
					<div class="jc-btn">详情</div>
				</div>
				<div class="jc-item">
					<div>10660241258期</div>
					<div>5金币</div>
					<div>9金币</div>
					<div>已中奖</div>
					<div class="jc-btn">详情</div>
				</div>
				<div class="jc-item">
					<div>10660241258期</div>
					<div>5金币</div>
					<div>9金币</div>
					<div>未开奖</div>
					<div class="jc-btn">详情</div>
				</div>
				<div class="jc-item">
					<div>10660241258期</div>
					<div>5金币</div>
					<div>9金币</div>
					<div>未开奖</div>
					<div class="jc-btn">详情</div>
				</div>
				<div class="jc-item">
					<div>10660241258期</div>
					<div>5金币</div>
					<div>9金币</div>
					<div>未开奖</div>
					<div class="jc-btn">详情</div>
				</div>
				<div class="jc-item">
					<div>1066024期</div>
					<div>5金币</div>
					<div>9金币</div>
					<div>未开奖</div>
					<div class="jc-btn">详情</div>
				</div>
				<div class="jc-item">
					<div>1066024期</div>
					<div>5金币</div>
					<div>9金币</div>
					<div>未开奖</div>
					<div class="jc-btn">详情</div>
				</div>
				<div class="jc-item">
					<div>1066024期</div>
					<div>5金币</div>
					<div>9金币</div>
					<div>未开奖</div>
					<div class="jc-btn">详情</div>
				</div>
				<div class="jc-item">
					<div>1066024期</div>
					<div>5金币</div>
					<div>9金币</div>
					<div>未开奖</div>
					<div class="jc-btn">详情</div>
				</div>-->
			</div>
		</div>
	</div>
</div>
<div class="l-nav-bottom-box">
<div class="l-nav-bottom">
	<div class="icon-item"><span class="icon-item-01">游戏</span></div>
	<div class="icon-item active"><span class="icon-item-02">记录</span></div>
	<div class="icon-item"><span class="icon-item-03">查询</span></div>
	<div class="icon-item"><span class="icon-item-04">代理赚钱</span></div>
	<div class="icon-item"><span class="icon-item-05">客服</span></div>
</div>
</div>
<div class="l-layer-mask"></div>
<div class="xq" style="display: none;">
	<div class="xqBox">
		<div class="xq-head">详情</div>
		<div>本期开奖号码</div>
		<div class="xq_num"><i>1</i><i class="active">2</i><i class="active">3</i></div>
		<div class="xq-text">
			<p>本次期号<span class="xq_qh">1066024期</span></p>
			<p>开奖时间<span class="xq_kjsj">2016-04-02 14:11</span></p>
			<p>开奖结果 <span class="xq_result"><i class="orange">6</i><i class="orange">6</i><i class="active">合</i></span></p>
			<p>本次竞猜<span class="xq_bet"><i class="orange">4</i><i class="orange">5</i></span></p>
			<p>本次投注 <span class="xq_amount">&yen;100</span></p>
			<p>本次倍率<span class="xq_odds">1赔3.5</span></p>
			<p>本次收益<span>&yen;<i class="xq_sy" style="border: none;background: none;color: #FFFFFF;">350</i></p>
		</div>
		<div class="xq-btn">确定</div>
	</div>
</div>
<div class="l-layer-mask1"></div>