
<section class="all">
<div class="l-nav clear">
	<div class="l-nav-item active" ><span>大小场</span></div>
	<i class="first"></i>
	<div class="l-nav-item" ><span>数组场</span></div>
	<i class="second"></i>
	<div class="l-nav-item"><span style="border-right: none;">精确场</span></div>
</div>
<section class="l-main l-main1">
	<div class="l-main-top">
		<div class="l-main-top-left"><div id="btn_show_record">往期</div></div>
		<div class="l-main-top-center"></div>
		<div class="l-main-top-right"><div id="btn_how-app">玩法说明</div></div>
	</div>
	<div class="l-main-center">
		<div id="qh">2017042406期</div>
		<div class="time">	
			<div id="minute_show"></div>
            <div id="second_show">00</div>
		</div>
	</div>
	<div class="l-center">
		<div class="l-center-top">2017042407期</div>
		<div class="l-center-center clear">
			<div class="num-con">
				<div class="num-box"></div>
			</div>
			<div class="num-con">
				<div class="num-box"></div>
			</div>
			<div class="num-con">
				<div class="num-box"></div>
			</div>
			<div class="num-con2">
				<div class="num-box2">,</div>
			</div>
			<div class="num-con">
				<div class="num-box"></div>
			</div>
			<div class="num-con">
				<div class="num-box"></div>
			</div>
			<div class="num-con">
				<div class="num-box space"></div>
			</div>
			<div class="num-con2 num-con3">
				<div class="num-box2">,</div>
			</div>
			<div class="num-con">
				<div class="num-box"></div>
			</div>
			<div class="num-con">
				<div class="num-box space"></div>
			</div>
			<div class="num-con">
				<div class="num-box"></div>
			</div>
			<div class="kjjg">
				<i>-</i>
				<i>-</i>
				<i>-</i>
			</div>
		</div>
		<div class="l-wq his1"><span>000000000000期</span><span><i>-</i><i>-</i><i>-</i></span> <span><i>大</i><i>小</i><i>合</i></span></div>
		<div class="wq-line"></div>
		<div class="l-wq his2"><span>000000000000期</span><span><i>-</i><i>-</i><i>-</i></span> <span><i>大</i><i>小</i><i>合</i></span></div>
	</div>
	<div class="l-bottom l-main-center1">
		<div class="l-bottom-head">201704240505期投注</div>
		<div class="l-main-wrap">
			<div class="l-main-item single-double" id="single_double" data-type="1" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
				<div class="grid-item active css" data-type="56789"><div><span>大</span><p class="array-text" id="_single">1赔0</p></div></div>
				<div class="grid-item css" data-type="01234"><div><span>小</span><p class="array-text" id="_double">1赔0</p></div></div>
				<div class="grid-item css" data-type="5"><div><span>合</span><p class="array-text" id="_flat">1赔0</p></div></div>

			</div>
			<div class="l-main-item array-wrap" id="array_wrap" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1); display: none;">
				<div class="array-item three-num" data-type="2">
					<div class="grid-item css" data-type="012"><span>0 1 2</span></div>
					<div class="grid-item css" data-type="345"><span>3 4 5</span></div>
					<div class="grid-item css" data-type="678"><span>6 7 8</span></div>
					<p class="array-text"><span></span>1赔0<span></span></p>
				</div>
				<div class="array-item two-num" data-type="3">
					<div class="grid-item css" data-type="01"><span>0 1</span></div>
					<div class="grid-item css" data-type="23"><span>2 3</span></div>
					<div class="grid-item css" data-type="45"><span>4 5</span></div>
					<div class="grid-item css" data-type="67"><span>6 7</span></div>
					<div class="grid-item css" data-type="89"><span>8 9</span></div>
					<p class="array-text"><span></span>1赔0<span></span></p>
				</div>
			</div>
			<div class="l-main-item accurate" id="accurate" style="display: none;" data-type="4">
				<div class="grid-item magin2 css" data-type="1"><span>1</span></div>
				<div class="grid-item magin2 css" data-type="2"><span>2</span></div>
				<div class="grid-item magin2 css" data-type="3"><span>3</span></div>
				<div class="grid-item magin2 css" data-type="4"><span>4</span></div>
				<div class="grid-item magin2 css" data-type="5"><span>5</span></div>
				<div class="grid-item css" data-type="6"><span>6</span></div>
				<div class="grid-item css" data-type="7"><span>7</span></div>
				<div class="grid-item css" data-type="8"><span>8</span></div>
				<div class="grid-item css" data-type="9"><span>9</span></div>
				<div class="grid-item css" data-type="0"><span>0</span></div>
				<p class="array-text"><span></span>1赔0<span></span></p>
			</div>
		</div>
	</div>
	<div class="l-main-bottom clear">
		<div class="max">MAX</div>
		<div class="prev"></div>
		<div class="l-number">100</div>
		<div class="next"></div>
		<div class="start">下注</div>
	</div>
</section>
</section>
<div class="l-layer-mask"></div>
<div class="l-layer-mask1"></div>
<div class="l-layer-slide-toggle">
	<div class="l-toggle-tab">
		<div class="l-toggle-item active"><span>大小</span></div>
		<div class="l-toggle-item"><span>精确</span></div>
		<div class="l-toggle-item"><span>往期</span></div>
	</div>
	<div class="l-toggle-container">
		<div class="l-toggle-content">
			<div class="g-second">
				<div class="g-wrap">
					<div class="g-wrap-item g-navbar">
						<span>期号</span>
						<div>
							<span>单</span>
							<span>双</span>
							<span>合</span>
						</div>
					</div>
<!--					<div class="g-wrap-item">
							<span>20170317</span>
							<div>
								<span class="g-qh"><i>1</i><i>2</i><i>3</i><i>4</i><i class="active">5</i></span>
								<span><i class="active">大</i><i>小</i><i>合</i></span>
							</div>
					</div>
					<div class="g-wrap-item">
							<span>20170317</span>
							<div>
								<span class="g-qh"><i class="active">1</i><i>2</i><i>3</i><i>4</i><i class="active">5</i></span>
								<span><i class="active">大</i><i>小</i><i>合</i></span>
							</div>
					</div>-->
				</div>
			</div>
		</div>
		<div class="l-toggle-content">
			<div class="g-first">
				<div class="g-wrap">
					<div class="g-wrap-item g-navbar">
						<span style="border: none;">期号</span>
						<div>
							<span>1</span>
							<span>2</span>
							<span>3</span>
							<span>4</span>
							<span>5</span>
							<span>6</span>
							<span>7</span>
							<span>8</span>
							<span>9</span>
							<span>0</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="l-toggle-content">
			<div class="g-third">
				<div class="g-wrap">
					<div class="g-wrap-item g-navbar">
						<span>期号</span>
						<div>
							<span>开奖结果</span>
						</div>
					</div>
<!--                    <div class="g-wrap-item">
							<span>20170317</span>
							<div>
								<span class="g-qh"><i>1</i><i>2</i><i>3</i><i>4</i><i class="active">5</i></span>
								<span><i class="active">大</i><i>小</i><i>合</i></span>
							</div>
					</div>
					<div class="g-wrap-item">
							<span>20170317</span>
							<div>
								<span class="g-qh"><i class="active">1</i><i>2</i><i>3</i><i>4</i><i class="active">5</i></span>
								<span><i class="active">大</i><i>小</i><i>合</i></span>
							</div>
					</div>-->
				</div>
			</div>
		</div>
	</div>
	<div class="l-toggle-footer">
		<div class="l-toggle-title">
			<i class="line2"></i>
			<span>最佳投资项目统计</span>
			<i class="line"></i>
		</div>
		<div class="l-toggle-button">
			<span id="btn_hide_record"></span>
		</div>
	</div>
</div>
<div class="l-nav-bottom-box">
<div class="l-nav-bottom">
	<div class="icon-item active"><span class="icon-item-01">游戏</span></div>
	<div class="icon-item"><span class="icon-item-02">记录</span></div>
	<div class="icon-item"><span class="icon-item-03">查询</span></div>
	<div class="icon-item"><span class="icon-item-04">代理赚钱</span></div>
	<div class="icon-item"><span class="icon-item-05">客服</span></div>
</div>
</div>
<div class="zj" style="display: none;">
	<div class="zjBox">
		<div class="btn-close2" ></div>
		<div class="zj-head">押注</div>
		<div id="zj-qh">12345345期</div>
		<div class="zj-text">
			<p>本次竞猜 <span class="zj_bet_num"><i>4</i><i>5</i></span></p>
			<p>本次投注<span><i class="zj_bet_amount i-right">100 </i>金币</span></p>
			<p>本次赔率<span class="zj_odds">1赔1.85</span></p>
			<p>预期收益<span><i class="zj_sy i-right">800 </i>金币</span></p>
		</div>
		<div class="zj-btn">确定</div>
	</div>
</div>
<div class="wzj" style="display: none;">
	<div class="wzjBox">
		<div class="wzj-head">很遗憾</div>
		<div><span id="wzjOrderNo">2017042405</span>期</div>
		<div class="wzj-text">
			<p>开奖号码<span class="wzj_open"><i>6</i><i>6</i><i>6</i><i>6</i><i class="active">6</i></span></p>
			<p>开奖结果 <span><i>6</i><i>6</i><i class="active">合</i></span></p>
			<p>本次竞猜 <span><i>4</i><i>5</i></span></p>
			<p>本次投注<span><i class="i-right">100 金币</i></span></p>
			<p>本次收益<span><i class="i-right">800 金币</i></p>
		</div>
		<div class="wzj-btn">确定</div>
	</div>
</div>
<div class="z" style="display: none;">
	<div class="zBox">
		<div class="z-head active">恭喜您</div>
		<div><span id="zjOrderNo">2017042405</span>期</div>
		<div class="z-text">
			<p>开奖号码<span class="zj_open"><i>6</i><i>6</i><i>6</i><i>6</i><i>6</i></span></p>
			<p>开奖结果 <span><i>6</i><i>6</i><i class="active">合</i></span></p>
			<p>本次竞猜 <span><i>4</i><i>5</i></span></p>
			<p>本次投注<span><i class="i-right">100 金币</i></span></p>
			<p>本次收益<span><i class="i-right">800 金币</i></p>
		</div>
		<div class="z-btn">确定</div>
	</div>
</div>
<div class="rhyz" >
	<div class="rhyz-box">
		<div class="rhyz-text">
			<div class="text-head">说明</div>
			<div style="height: 1rem;">合：末位（个位、十位）两位数字相同，则为“合”，当开奖为“合”时，其结果不算大也不算小。</div>
			<div>大：当末位（个位）是5，6，7，8，9时，为“大”。</div>
			<div>小：当末位（个位）是0，1，2，3，4时，为“小”。</div>
			<div>本数据来源于:（QQ网页右上角）</div>
			<div class="a">http://im.qq.com/pcqq/</div>
			<div>注:QQ在线人数是实时更新。以电脑端数据为准,手机端数据有延迟。</div>
		</div>
	</div>
		<div class="l-toggle-button2">
			<span id="btn_hide_record2"></span>
		</div>
</div>
<div class="loading" style="display: none;">
	<img src="/Addons/LdhQguess/View/Public/img/loading.gif"/>
</div>
<div class="daojishiBox" style="display: none;">
	<div class="daojishi">
		<div class="d-head">结束投注，等待开奖...</div>
		<div class="sec">5s</div>
	</div>
</div>
<div class="box" style="display: none;">	
</div>