
<div class="kf-content">
	<img src="" class="kfimg"/>
</div>
<div class="l-nav-bottom-box">
<div class="l-nav-bottom">
	<div class="icon-item"><span class="icon-item-01">游戏</span></div>
	<div class="icon-item"><span class="icon-item-02">记录</span></div>
	<div class="icon-item"><span class="icon-item-03">查询</span></div>
	<div class="icon-item"><span class="icon-item-04">代理赚钱</span></div>
	<div class="icon-item active"><span class="icon-item-05">客服</span></div>
</div>
</div>
<div class="l-layer-mask1"></div>
<script>
	$(function(){

		$(".kfimg").attr('src',kefuimg);

	});


</script>