<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <title>空白...安装</title>
    <link href="__PUBLIC__/Install/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Install/css/install.css">
</head>
<body>
    <div class="aw-install">
        <div class="aw-mod-head">
            <img src="__PUBLIC__/Install/img/logo.png" alt="">
        </div>
        <div class="aw-mod-body">
        <form action="" method="post" id="installer">
        <input type="hidden" name="step" value="2">
            <dl>
                <dt>