<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<!--<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />-->
		<title>QQ在线人数竞猜</title>
		<script type="text/javascript">
			var  Baseroot= "__ROOT__/";
				document.ontouchmove = function(e){
			    e.preventDefault();
				}
			var kefuimg='{$kefu}';
			var yjimg='{$yjimg}';
			var xuanchuan1='{$xuanchuan1}';
			  
		</script>
         
		<link rel="stylesheet" type="text/css" href="__ROOT__/Addons/LdhQguess/View/Public/style/style.css">
		<script src="__ROOT__/Addons/LdhQguess/View/Public/js/fastclick.js" type="text/javascript" charset="utf-8"></script>
		<script src="__ROOT__/Addons/LdhQguess/View/Public/js/flexible.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			if('addEventListener' in document) {
				document.addEventListener('DOMContentLoaded', function() {
					FastClick.attach(document.body);
				}, false);
			}
			var _speedMark = new Date(),
				server_local_date = 'Monday, 22-Aug-2016 19:20:54 CST';
			window.global_serverTimeDiff = new Date(server_local_date).getTime() - 14 * 3600 * 1000 - new Date().getTime();

			function global_getServerTime() {
				return new Date().getTime() + global_serverTimeDiff;
			}
		</script>
	</head>

	<body> 
         
		<header class="l-hd" >
			<div class="l-hd-left"> 
				<span>会员ID:-</span>
			</div>
			<div class="l-hd-right2">
				<a href="#check" class="btn-link">兑换</a>
			</div>
			<div class="l-hd-right">
				<span>余额:￥<i>0</i><span class="cz-btn"></span></span>
			</div>
		</header>
		<div id="ui-view" >  
 
        
        
        </div>
        
        
        
		<div class="cz" style="display: none;">
			<div class="czBox" style="display: none;">
				<div class="tou">账户充值</div>
				<div class="btn-close"></div>
				<div class="hlcz1">账户充值 <i>5</i> 币<span class="czBtn" data-type="5">充值</span></div>
				<div class="hlcz2">账户充值 <i>10</i> 币<span class="czBtn" data-type="10">充值</span></div>
				<div class="hlcz3">账户充值 <i>20</i> 币<span class="czBtn" data-type="20">充值</span></div>
				<div class="hlcz4">账户充值 <i>50</i> 币<span class="czBtn" data-type="50">充值</span></div>
				<div class="hlcz5">账户充值 <i>100</i> 币<span class="czBtn" data-type="100">充值</span></div>
				<div class="hlcz6">账户充值 <i>200</i> 币<span class="czBtn" data-type="200">充值</span></div>
				<div class="hlcz7">账户充值 <i>300</i> 币<span class="czBtn" data-type="300">充值</span></div>
				<div class="hlcz8">账户充值 <i>500</i> 币<span class="czBtn" data-type="500">充值</span></div>
				<div class="hlcz9">账户充值 <i>1000</i> 币<span class="czBtn" data-type="1000">充值</span></div>
				<div class="hlcz10">账户充值 <i>2000</i> 币<span class="czBtn" data-type="2000">充值</span></div>
			</div>
		</div>
		<script src="__ROOT__/Addons/LdhQguess/View/Public/js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__ROOT__/Addons/LdhQguess/View/Public/js/require.js" type="text/javascript" charset="utf-8"></script>
		<script src="__ROOT__/Addons/LdhQguess/View/Public/js/vipspa.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__ROOT__/Addons/LdhQguess/View/Public/js/require.vipspa.config.js" type="text/javascript" charset="utf-8"></script>
		<script src="__ROOT__/Addons/LdhQguess/View/Public/js/token.js" type="text/javascript" charset="utf-8"></script>



	</body>

</html>