<div class="l-ab-page" id="bd">
	<div class="page-list">
		<div class="l-bd clear">
			<div class="l-bd-item active" ><span id="day">日榜</span></div>
			<div class="l-bd-item" ><span id="month">月榜</span></div>
			<div class="l-bd-item" ><span id="prev-day">昨日榜单</span></div>
			<div class="l-bd-item" ><span id="prev-month">上月榜单</span></div>
		</div>
		<div class="page-list-header day">
			<span>每小时更新一次</span>
			<i class="line"></i>
		</div>		
		<div class="page-list-header month" style="display: none;">
			<span>每日更新一次</span>
			<i class="line"></i>
		</div>
		<div class="day-page-box page-list-box">
			<div class="list-item" style="height: 0.66rem;">
				<span style="color: #FEEDE5; text-align: center; height: 0.66rem;">排名</span>
				<span style="color: #FEEDE5;text-align: center;">用户ID</span>
				<span style="color: #FEEDE5;text-align: center;">金额</span>
			</div>
			<!--<div class="list-item">
				<span>1</span>
				<span>1008618</span>
				<span>5454</span>
			</div>
			<div class="list-item">
				<span>2</span>
				<span>1008611</span>
				<span>54545</span>
			</div>
			<div class="list-item">
				<span>3</span>
				<span>1008611</span>
				<span>463416</span>
			</div>
			<div class="list-item">
				<span>1</span>
				<span>1008618</span>
				<span>5454</span>
			</div>
			<div class="list-item">
				<span>2</span>
				<span>1008611</span>
				<span>54545</span>
			</div>
			<div class="list-item">
				<span>3</span>
				<span>1008611</span>
				<span>463416</span>
			</div>
			<div class="list-item">
				<span>1</span>
				<span>1008618</span>
				<span>5454</span>
			</div>
			<div class="list-item">
				<span>2</span>
				<span>1008611</span>
				<span>54545</span>
			</div>
			<div class="list-item">
				<span>3</span>
				<span>1008611</span>
				<span>463416</span>
			</div>
			<div class="list-item">
				<span>1</span>
				<span>1008618</span>
				<span>5454</span>
			</div>-->
		</div>
		<div class="month-page-box page-list-box">	
		</div>
		<div class="prev-day-box page-list-box" style="display: none;">		
		</div>
		<div class="prev-month-box page-list-box" style="display: none;">		
		</div>
		<div class="mybd">
		    <div class="l-toggle-title2" style="margin: 0;">
				<i class="line2"></i>
				<span>我的排名</span>
				<i class="line"></i>
			</div>
		    <div class="bdday">
		    	<span style="color: #CB72FF;margin-right: 0.2rem;margin-left: 0.2rem;">当日中奖</span><span class="bd-money-day" style="width: 1.5rem;text-align: center;display: inline-block;"></span><span style="color: #CB72FF;margin-left: 0.2rem;margin-right: 0.2rem;">当日排名</span><span class="bd-rank-day" style="width: 1rem;text-align: center;display: inline-block;"></span>
		    </div>
		    <div class="bdmonth">
		    	<span style="color: #CB72FF;margin-right: 0.2rem;margin-left: 0.2rem;">当月中奖</span><span class="bd-money-month" style="width: 1.5rem;text-align: center;display: inline-block;"></span><span style="color: #CB72FF;margin-left: 0.2rem;margin-right: 0.2rem;">当月排名</span><span class="bd-rank-month" style="width: 1rem;text-align: center;display: inline-block;"></span>
		    </div>
		</div>
</div>
</div>
<div class="l-nav-bottom-box">
<div class="l-nav-bottom">
	<div class="icon-item"><span class="icon-item-01">游戏</span></div>
	<div class="icon-item"><span class="icon-item-02">记录</span></div>
	<div class="icon-item active"><span class="icon-item-03">查询</span></div>
	<div class="icon-item"><span class="icon-item-04">代理赚钱</span></div>
	<div class="icon-item"><span class="icon-item-05">客服</span></div>
</div>
</div>
<div class="l-layer-mask1"></div>