
	<img src="" id="yj-img" style="display: none;"/>

	<script>
		$(function(){

			$("#yj-img").attr('src',yjimg);

		});


	</script>
<div class="dl-content">
	<div class="gzwm">
		关注我们
	</div>
	<div class="dl-head" >
	  <p >生成二维码后长按保存图片到手机<br> 
	  并分享给好友获取佣金(<span class="yj-text">佣金说明</span>)</p> 
	</div>
	<div class="wx-btn">生成二维码</div>
	<div class="xcBox" id="xcBox">
		<div id="qrcode"></div>
		<canvas id="myCanvas"></canvas>
	</div>
	<div class="dl-foot">
	</div>
</div>
<div class="l-nav-bottom-box">
<div class="l-nav-bottom">
	<div class="icon-item"><span class="icon-item-01">游戏</span></div>
	<div class="icon-item"><span class="icon-item-02">记录</span></div>
	<div class="icon-item"><span class="icon-item-03">查询</span></div>
	<div class="icon-item active"><span class="icon-item-04">代理赚钱</span></div>
	<div class="icon-item"><span class="icon-item-05">客服</span></div>
</div>
</div>
<div class="l-layer-mask1"></div>
<div class="loading" style="display: none;">
	<img src="/Addons/LdhQguess/View/Public/img/loading.gif"/>
</div>
<div class="cpm-mask" style="display: none;">
	<img src="/Addons/LdhQguess/View/Public/img/2w.jpg"  class="cpm-qrcode-view_img2">
    <div class="mask-head" style="display: none;">
        <div>关注我们：第一时间获取最新消息</div>
    	<div class="mask-close"></div>
    	<img src="/Addons/LdhQguess/View/Public/img/2w.jpg"  class="cpm-qrcode-view_img">
    	<div style="color: #f96943;">长按图片识别二维码关注公众号</div>
    </div>
</div>