<extend name="./App/Common/View/default/Base/common.html" />
<block name="main_content">
<include file="./App/Common/View/default/Public/crumb.html" />
<div class="mod">
    <div class="mod-head">
        <h3>
            <include file="./App/Common/View/default/Public/nav.html" />
        </h3>
    </div>
    <div class="mod-body tab-content">
        <if condition="$tip">
        <div class="alert alert-info tip" role="alert">{$tip}</div>
        </if>
        <include file="./App/Common/View/default/Public/search.html" />
        <div class="tab-pane active" id="list">
            <if condition="$subnav">
            <ul class="nav nav-tabs">
                <volist name="subnav" id="vo">
                <li role="presentation" class="{$vo.class}"><a href="{$vo.url}">{$vo.title}</a></li>
                </volist>
            </ul> 
            <br>
            </if>
             
             55
               
             
            <br>
            
            666
            
            
            
            <div class="mod-table-foot">
                <if condition="$count neq 0">
                <span class="pull-left">记录总数：{$count}</span>
                </if>
                {$pagination}
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

</script>
</block>