<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<!--<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />-->
	<title>aaa</title>
	<script type="text/javascript">
        var  Baseroot= "__ROOT__/";
        document.ontouchmove = function(e){
            e.preventDefault();
        }
        var kefuimg='{$kefu}';
        var yjimg='{$yjimg}';
        var xuanchuan1='{$xuanchuan1}';

	</script>

	<link rel="stylesheet" type="text/css" href="__ROOT__/Addons/Cms/View/Public/style/style.css">


</head>

<body>

<header class="l-hd" >
	<div class="l-hd-left">
		<span>代理ID:-</span>
	</div>
	<div class="l-hd-right2">
		<a href="#check" class="btn-link">兑换</a>
	</div>
	<div class="l-hd-right">
		<span>余额:￥<i>0</i><span class="cz-btn"></span></span>
	</div>
</header>
<div id="ui-view" >


	<img src="" id="yj-img" style="display: none;"/>

	<script>
        $(function(){

            $("#yj-img").attr('src',yjimg);

        });


	</script>
	<div class="dl-content">
		<div class="gzwm">
			关注我们
		</div>
		<div class="dl-head" >
			<p >生成二维码后长按保存图片到手机<br>
				并分享给好友获取佣金(<span class="yj-text">佣金说明</span>)</p>
		</div>
		<div class="wx-btn">生成二维码</div>
		<div class="xcBox" id="xcBox">
			<div id="qrcode"></div>
			<canvas id="myCanvas"></canvas>
		</div>
		<div class="dl-foot">
		</div>
	</div>

	<div class="l-layer-mask1"></div>
	<div class="loading" style="display: none;">
		<img src="/Addons/LdhQguess/View/Public/img/loading.gif"/>
	</div>
	<div class="cpm-mask" style="display: none;">
		<img src="/Addons/Cms/View/Public/img/2w.jpg"  class="cpm-qrcode-view_img2">
		<div class="mask-head" style="display: none;">
			<div>关注我们：第一时间获取最新消息</div>
			<div class="mask-close"></div>
			<img src="/Addons/Cms/View/Public/img/2w.jpg"  class="cpm-qrcode-view_img">
			<div style="color: #f96943;">长按图片识别二维码关注公众号</div>
		</div>
	</div>

</div>




<script src="__ROOT__/Addons/Cms/View/Public/js/zepto.min.js" type="text/javascript" charset="utf-8"></script>

<script src="__ROOT__/Addons/Cms/View/Public/js/qrcode.min.js" type="text/javascript" charset="utf-8"></script>

<script src="__ROOT__/Addons/Cms/View/Public/js/token.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    var img1;
    var base64 = [];
    var self = this;
    var erw;
    var a = $('.dl-content').height();
    var b = $('.dl-content').width();
    $('#myCanvas').attr("height", a);
    $('#myCanvas').attr("width", b);
    var apiHomeSrc = location.origin;
    $('.yj-text').on("click", function() {
        $('#yj-img').show()
    });
    $('#yj-img').on("click", function() {
        $(this).hide()
    });
    $.ajax({
        type: "POST",
        url: apiHomeSrc + '/addon/Cms/Mobile/query_getAgentCount',
        contentType: "application/json",
        dataType: "json",
        beforeSend: function(request) {
            request.setRequestHeader("X-Auth-Token", token)
        },
        success: function(data) {
            console.log(data.data);
            if(data.data != null) {
                $(".dl-foot").html('<p>一级用户： <span>' + data.data[0] + '人</span></p><p>二级用户： <span>' + data.data[1] + '人</span></p><p>三级用户： <span>'+
                    data.data[2] + '人</span></p><p>四级用户： <span>'+data.data[3] + '人</span></p><p>五级用户： <span>'+data.data[4] + '人</span></p>'+
                    '<p>六级用户： <span>'+data.data[5] + '人</span></p>')
            }
        },
        error: function(error) {}
    });
    $('.wx-btn').on("click", function() {
        $(".loading").show();
        var params = {};
        $.ajax({
            type: "POST",
            url: apiHomeSrc + '/addon/LdhQguess/Mobile/user_userCodeUrl',
            contentType: "application/json",
            data: JSON.stringify(params),
            dataType: "json",
            beforeSend: function(request) {
                request.setRequestHeader("X-Auth-Token", token)
            },
            success: function(data) {
                erw = data.data;
                var qrcode = new QRCode(document.getElementById("qrcode"), {
                    width: 250,
                    height: 250
                });
                qrcode.makeCode(erw);
                var c = document.getElementsByTagName("canvas")[0];
                img1 = convertCanvasToImage(c);
                $('#qrcode').hide();
                date(a, b)
            },
            error: function(error) {}
        })
    })

    function setOtherRecord(data) {}

    function date(a, b) {
        var Mycanvas = document.getElementById("myCanvas");
        ct = Mycanvas.getContext("2d");
        ct.rect(0, 0, Mycanvas.width, Mycanvas.height);
        ct.fill();

        function draw(n) {
            if(n < 2) {
                var img = new Image;
                if(n == 1) {
                    img.src = img1.src
                } else {
                    img.src = "/images/xuanchuan1.png" ;
                }
                img.onload = function() {
                    if(n == 1) {
                        ct.drawImage(this, b * 0.3334, a * 0.595, b * 0.33, a * 0.22)
                    } else {
                        ct.drawImage(this, 0, 0, b, a);
                        ct.font = "25px 黑体";
                        ct.fillStyle = "#FFFFFF";
                        ct.fillText($('.l-hd-left span').text(), b * 0.1, a * 0.07)
                    }
                    draw(n + 1)
                }
            } else {
                base64.push(Mycanvas.toDataURL("image/png"));
                document.getElementById("xcBox").innerHTML = '<img src="' + base64[0] + '">';
                $('.xcBox').show();
                $('.xc').show();
                $(".loading").hide()
            }
        }
        window.onload = draw(0)
    }

    function convertCanvasToImage(canvas) {
        var image = new Image();
        image.src = canvas.toDataURL("image/png");
        return image;
    }
</script>

</body>

</html>