<extend name="./App/Common/View/default/Base/common.html" />
<block name="main_content"> <include file="./App/Common/View/default/Public/crumb.html" />
  <div class="mod">
    <div class="mod-head">
      <h3> <include file="./App/Common/View/default/Public/nav.html" /> </h3>
    </div>
    <div class="mod-body tab-content">
      <if condition="$tip">
        <div class="alert alert-info tip" role="alert">{$tip}</div>
      </if>
      <include file="./App/Common/View/default/Public/search.html" />
      <div class="tab-pane active" id="list">
        <if condition="$subnav">
          <ul class="nav nav-tabs">
            <volist name="subnav" id="vo">
              <li role="presentation" class="{$vo.class}"><a href="{$vo.url}">{$vo.title}</a></li>
            </volist>
          </ul>
          <br>
        </if>
        <div class="table-responsive">
          <table class="table table-striped" style="width:100%">
            <thead>
              <tr>
                <th >ID</th>
                <th>类型</th>
                <th>倍数</th>
                <th>创建时间</th>
                <th>更新时间</th>
                 <th>备注</th>
                <th>创建人id</th>
                <th>更新人id</th>
              </tr>
            </thead>
            <tbody>
            
            <volist name="lists" id="vo">
              <tr>
                <td >{$vo.id}</td>
                <td >{$vo.typename}</td>
                <td>{$vo.odds}</td>
               <td>{:date('m-d H:i:s',$vo['createdate'])}</td>
                 <td>{:date('m-d H:i:s',$vo['updatedate'])}</td>
                  <td>{$vo.remark}</td>
                   <td>{$vo.createby.id}</td>
                    <td>{$vo.updateby.id}</td>  
                <td ><a  href="{:U('addon/LdhQguess/web/config_edit',array('id'=>$vo['id']))}" class="btn btn-primary btn-sm icon-edit">编辑</a>&nbsp;
               
                </td> 
              </tr>
              </volist>
              
              
            </tbody>
          </table>
        </div>
        <div class="pages">   </div>
      </div>
    </div>
  </div>
 
</block>
